:root {
  --primarybrand: #4d5ae5;
  --pressedstate: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtletext: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modaloverlay: #2e2f42;
  --herobackground: #2e2f42;
  --whitebackground: #ffffff;
  --modalbackground: #fcfcfc;
}

.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo .link {
  text-decoration: none;
}
.logo .link. .span {
  color: #2e2f42;
}
.list .link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.list .link .link:hover .link:active {
  color: #404bbf;
}
.logo .list .link {
  list-style-type: none;
}
.address .list .link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address .list .link .link:hover .link:active {
  color: #404bbf;
}
.list {
  list-style: none;
}
.section {
  background-color: #2e2f42;
}
.section .hidden-headline {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.firt-button .second-button .third-button .forth-button .fifth-button {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #4d5ae5;
background-color: #f4f4fd;
}
.firt-button .second-button .third-button .forth-button .fifth-button .link:active .link:hover {
  color: #404bbf;
  background-color: #404bbf;
  cursor: pointer;
}
.link .headline {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.link .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.link {
  text-decoration: none;
}
.footer .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}